<form action="/products/<%=@product["id"]%>" method="post">
  <p>
    <label>Name:</label>
    <input type="text" name="p_name" value="<%=@product["p_name"]%>">
  </p>

  <p>
    <label>Price:</label>
    <input type="number" name="price" value="<%=@product["id"]%>">
  </p>

  <p>
    <label>Description:</label>
    <textarea name="description"><%= @product["description"]%></textarea>
  </p>


<!-- figure this out -->
  <p>
    <label>Categories:</label> <br> 
        <% @product_category.each do |item| %>
            <%= item["c_name"]%> 
        <form action="/products/<%= @product["id"] %>/<%= @product["id"] %>/destroy" method="post">
          <input type="submit" name="" value="Delete this product.">
        </form>

        <%end%>
  </p>



  <p>
    <input type="submit" name="" value="Update the product.">
  </p>
</form>

